# Python
__pycache__/
*.pyc

# Odoo
*.log
.odoo/
sessions/

# Virtualenv
venv/
.env/

# IDE
.vscode/
.idea/

# PostgreSQL dumps
*.sql

# Odoo filestore
filestore/

# Ignore sale_service file
sale_service/
